**Created by Berkay Alan**

**Data Structures**

**15 of November, 2020**

## Content

- Lists
- Tuples
- Dictionaries
- Sets

## List - List Comprehension

- Updateable
- Can take different data types
- Define with list() function or [] square brackets

In [1]:
grades = [76,23,5,6,78]

In [2]:
grades

[76, 23, 5, 6, 78]

In [4]:
type(grades)

list

In [5]:
grades[0]

76

In [6]:
grades[1]

23

In [8]:
type(grades[2]) #Type of list is list but type of element can be different

int

In [10]:
confused = list([3,52,"a","name",3.45])

In [11]:
confused

[3, 52, 'a', 'name', 3.45]

In [12]:
confused[2]

'a'

In [13]:
len(confused)

5

In [14]:
grades= [[36,23,90],[56,44,42],"grades"]   # We can define list in list

In [15]:
grades

[[36, 23, 90], [56, 44, 42], 'grades']

In [16]:
len(grades)

3

In [17]:
grades[0]

[36, 23, 90]

In [19]:
grades[0][0] # Element of list in list

36

In [20]:
type(grades[0][0])

int

In [21]:
a = [1,2,4,5]
b = [2,3,4,5,[2,4,5,6,]]

In [23]:
all= list([a,b]) #Merging lists

In [24]:
all

[[1, 2, 4, 5], [2, 3, 4, 5, [2, 4, 5, 6]]]

In [25]:
del a # Deleting a list

In [30]:
new_list = list([1,2,3,4,5])

In [31]:
new_list

[1, 2, 3, 4, 5]

In [32]:
new_list[:2]

[1, 2]

In [33]:
new_list[3:]

[4, 5]

In [34]:
new_list[::2]

[1, 3, 5]

In [67]:
names = ["Josh","Amanda","Kobe","Monish"]

In [68]:
names[0]= "Berkay" #Changing element of list

In [69]:
names

['Berkay', 'Amanda', 'Kobe', 'Monish']

In [70]:
names[1:] = "Jone","Michael","Hoke"

In [71]:
names

['Berkay', 'Jone', 'Michael', 'Hoke']

In [72]:
names = names + ["Caren"] #Adding element to a list
names

['Berkay', 'Jone', 'Michael', 'Hoke', 'Caren']

In [73]:
names.append("Dave") #Adding element to a list with append() method
names

['Berkay', 'Jone', 'Michael', 'Hoke', 'Caren', 'Dave']

In [74]:
del names[2] #Deleting an element by index
names

In [76]:
dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [77]:
names.remove("Jone") #Deleting an element by element with remove() method
names

['Berkay', 'Hoke', 'Caren', 'Dave']

In [78]:
names.insert(1,"Jashua")# Adding an element by index with insert() Method
names

['Berkay', 'Jashua', 'Hoke', 'Caren', 'Dave']

In [79]:
names.insert(len(names),"Barrel")
names

['Berkay', 'Jashua', 'Hoke', 'Caren', 'Dave', 'Barrel']

In [80]:
names.pop(0) #Deleting an element by index
names

['Jashua', 'Hoke', 'Caren', 'Dave', 'Barrel']

In [82]:
names.count("Hoke") # Count an element with count() method

1

In [83]:
names_copy = names.copy() # Makes copy of a list

In [84]:
names.extend(["Harrel","Katy"]) # Merging 2 list
names

['Jashua', 'Hoke', 'Caren', 'Dave', 'Barrel', 'Harrel', 'Katy']

In [85]:
names.index("Caren") #Index of an element

2

In [88]:
names.reverse() #Reverse of a list
names

['Katy', 'Harrel', 'Barrel', 'Dave', 'Caren', 'Hoke', 'Jashua']

In [89]:
names.sort() #Sorts elements in the list
names

['Barrel', 'Caren', 'Dave', 'Harrel', 'Hoke', 'Jashua', 'Katy']

In [90]:
names.clear() #Clears the list
names

[]

## Tuples

- Can't be changed
- Able to be indexed
- Can take different data types

In [91]:
t = ("John","Maria",1,23,5.6,[2,45,6]) # Tuples can be created with brackets

In [92]:
t

('John', 'Maria', 1, 23, 5.6, [2, 45, 6])

In [93]:
type(t)

tuple

In [95]:
tup = tuple([1,2,4,"Mike"]) # Tuples can be created with tuple() function, but don't forget square brackets inside function

In [96]:
tup

(1, 2, 4, 'Mike')

In [97]:
type(tup)

tuple

In [98]:
one_tuple = ("Names",) # Add a comma at the end for one-element tuples

In [99]:
one_tuple

('Names',)

In [100]:
type(one_tuple)

tuple

In [101]:
t

('John', 'Maria', 1, 23, 5.6, [2, 45, 6])

In [103]:
t[0]

'John'

In [104]:
t[2:]

(1, 23, 5.6, [2, 45, 6])

In [106]:
# t[2] = 99 > It gives error, tuples can't be changes

### NamedTuple

Python supports a type of container like dictionaries called “namedtuple()” present in module, “collections“. Like dictionaries they contain keys that are hashed to a particular value. But on contrary, it supports both access from key value and iteration, the functionality that dictionaries lack.

In [108]:
from collections import namedtuple

In [109]:
incomes = (10000,5500,7000,9200)

In [111]:
jobs = namedtuple("Job", ["JR_Data_Scientist","Senior_Software_Engineer","Big_Data_Developer","ML_Engineer"])

In [112]:
incomes= jobs(10000,5500,7000,9200)

In [113]:
incomes.Big_Data_Developer

7000

In [114]:
incomes.ML_Engineer

9200

In [115]:
incomes[0]

10000

## Dictionaries

- Mutable
- There is no index
- Can take multiple data types

In [116]:
dic = {"Name": "Josh","Age":24, "Job":"ML Developer","Income":9200} # Dictionaries can be created with {} brackets

In [120]:
dic

{'Name': 'Josh', 'Age': 24, 'Job': 'ML Developer', 'Income': 9200}

In [121]:
type(dic)

dict

In [122]:
len(dic)

4

In [126]:
dic.keys() # Keys can be seen with keys() functions

dict_keys(['Name', 'Age', 'Job', 'Income'])

In [127]:
dic.values() # Values can be seen with values() functions

dict_values(['Josh', 24, 'ML Developer', 9200])

In [117]:
dic["Name"]

'Josh'

In [118]:
dic["Age"]

24

In [130]:
dic = {"Name":"Josh",
        "Age":24, 
        "Job":"ML Developer",
        "Income":9200,
        "Location":"Ohio",
        "Languages": ["Python","Scala","Julia"]}

In [131]:
dic

{'Name': 'Josh',
 'Age': 24,
 'Job': 'ML Developer',
 'Income': 9200,
 'Location': 'Ohio',
 'Languages': ['Python', 'Scala', 'Julia']}

In [132]:
len(dic)

6

In [133]:
dic["Location"]

'Ohio'

In [134]:
# Josh moved to San Francisco - Change the location
dic["Location"] = "San Francisco"

In [135]:
dic

{'Name': 'Josh',
 'Age': 24,
 'Job': 'ML Developer',
 'Income': 9200,
 'Location': 'San Francisco',
 'Languages': ['Python', 'Scala', 'Julia']}

In [136]:
dic["Languages"]

['Python', 'Scala', 'Julia']

In [137]:
dic["Languages"][0]

'Python'

In [143]:
d = {"Apartment_1":{"Peoples": ["Josh","Kennedy"], "Income": 15000},
     "Apartment_2":{"Peoples": ["Harry","Mike","James"], "Income": 19000},
     "Apartment_3":{"Peoples": ["Berry","Julia"], "Income": 21000}} # Dictionary can contain a dictionary

In [144]:
d

{'Apartment_1': {'Peoples': ['Josh', 'Kennedy'], 'Income': 15000},
 'Apartment_2': {'Peoples': ['Harry', 'Mike', 'James'], 'Income': 19000},
 'Apartment_3': {'Peoples': ['Berry', 'Julia'], 'Income': 21000}}

In [145]:
type(d)

dict

In [146]:
d["Apartment_1"]

{'Peoples': ['Josh', 'Kennedy'], 'Income': 15000}

In [147]:
d["Apartment_1"]["Peoples"]

['Josh', 'Kennedy']

In [148]:
d["Apartment_1"]["Peoples"][0]

'Josh'

In [149]:
d["Apartment_4"] = {"Peoples": ["Hans","Flurry"], "Income": 16000} # We can directly add an element with a new key

In [150]:
d

{'Apartment_1': {'Peoples': ['Josh', 'Kennedy'], 'Income': 15000},
 'Apartment_2': {'Peoples': ['Harry', 'Mike', 'James'], 'Income': 19000},
 'Apartment_3': {'Peoples': ['Berry', 'Julia'], 'Income': 21000},
 'Apartment_4': {'Peoples': ['Hans', 'Flurry'], 'Income': 16000}}

In [151]:
d["Apartment_3"] = {"Peoples": ["Michael","Kevin"], "Income": 26000} # We can change values with same way

In [152]:
d

{'Apartment_1': {'Peoples': ['Josh', 'Kennedy'], 'Income': 15000},
 'Apartment_2': {'Peoples': ['Harry', 'Mike', 'James'], 'Income': 19000},
 'Apartment_3': {'Peoples': ['Michael', 'Kevin'], 'Income': 26000},
 'Apartment_4': {'Peoples': ['Hans', 'Flurry'], 'Income': 16000}}

In [153]:
del d["Apartment_4"] # We can directly delete an element with del

In [154]:
d

{'Apartment_1': {'Peoples': ['Josh', 'Kennedy'], 'Income': 15000},
 'Apartment_2': {'Peoples': ['Harry', 'Mike', 'James'], 'Income': 19000},
 'Apartment_3': {'Peoples': ['Michael', 'Kevin'], 'Income': 26000}}

In [155]:
d[1] = {"Peoples": ["Hans","Flurry"], "Income": 16000} # Keys can also be a integer

In [156]:
d

{'Apartment_1': {'Peoples': ['Josh', 'Kennedy'], 'Income': 15000},
 'Apartment_2': {'Peoples': ['Harry', 'Mike', 'James'], 'Income': 19000},
 'Apartment_3': {'Peoples': ['Michael', 'Kevin'], 'Income': 26000},
 1: {'Peoples': ['Hans', 'Flurry'], 'Income': 16000}}

In [157]:
d[1]

{'Peoples': ['Hans', 'Flurry'], 'Income': 16000}

## Sets

- Changeable
- Not able to be indexed
- Hold unique values

In [198]:
s = set([1,2,3,4]) # sets can be created with set() function

In [199]:
s

{1, 2, 3, 4}

In [200]:
type(s)

set

In [201]:
s2 = set([1,2,2,2,3,4,5,4,4,5,4,2])

In [202]:
s2 # It gets just unique values

{1, 2, 3, 4, 5}

In [203]:
l = ["Jonh",1,"Jonh",1,"Katy",2,2,3]

In [204]:
s3 = set(l)

In [205]:
s3

{1, 2, 3, 'Jonh', 'Katy'}

In [206]:
sentence = "Look at the course!"

In [207]:
s4 = set(sentence)

In [208]:
s4 # It gets just unique values

{' ', '!', 'L', 'a', 'c', 'e', 'h', 'k', 'o', 'r', 's', 't', 'u'}

In [209]:
print("Lenght of Sentence: ", len(sentence))
print("Lenght of S4: ",len(s4))

Lenght of Sentence:  19
Lenght of S4:  13

In [210]:
s5 = set(["I","learn","data","science"])

In [211]:
s5

{'I', 'data', 'learn', 'science'}

In [212]:
s5.add("on my own") # Add() helps to add new value

In [213]:
s5

{'I', 'data', 'learn', 'on my own', 'science'}

In [214]:
s5.remove("on my own") # remove() helps to remove a value

In [215]:
s5

{'I', 'data', 'learn', 'science'}

In [238]:
s5.discard(5) # discard() function helps to prevent producing error

In [239]:
s5

{'I', 'data', 'learn', 'science'}

In [216]:
set1 = set([1,2,3,4,5])
set2 = set([2,4,5,6,8])

In [217]:
set1.difference(set2) # difference() function helps to get difference of 2 set

{1, 3}

In [218]:
set1-set2 # - helps to get difference of 2 set

{1, 3}

In [219]:
set2-set1

{6, 8}

In [220]:
set1.symmetric_difference(set2) # symmetric_difference() function helps to get values in not both of them

{1, 3, 6, 8}

In [221]:
set1.intersection(set2) # intersection() function helps to get intersection of 2 set

{2, 4, 5}

In [222]:
set1&set2 # & helps to get intersection of 2 set

{2, 4, 5}

In [223]:
set2.intersection(set1)

{2, 4, 5}

In [224]:
set2

{2, 4, 5, 6, 8}

In [225]:
set1.union(set2) # union() function helps to get union of 2 set

{1, 2, 3, 4, 5, 6, 8}

In [226]:
set2.intersection_update(set1) # intersection_update() function helps to get intersection of 2 set and assign it to first variable

In [227]:
set2

{2, 4, 5}

In [234]:
set3 = set([1,2,3,4,5,6,7,8])
set4 = set([4,5,6,7,8])

In [235]:
set3.isdisjoint(set4) # We query if intersection of two set is blank with isdisjoint() function

False

In [236]:
set3.issubset(set4) # We query if set 3 is a subset of set4 with issubset() function

False

In [237]:
set3.issuperset(set4) # We query if set 3 contains set4 with issuperset() function

True