**Created by Berkay Alan**

**Loops**

**15 of November, 2020**

## Content

- range()
- In Operator
- For Loop
- Iterating in Strings
- Iterating in two(2) dimensional Lists
- continue
- break
- zip()
- Iteration in a Dictionary
- Iterating pair values
- While Loop
- While True

## range()

In [1]:
range(0,20) #It creates a range between 0 and 20

range(0, 20)

In [2]:
print(*range(0,20)) # You can print with *

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [5]:
new_list = list(range(0,20))

In [6]:
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
print(*range(5,12))

5 6 7 8 9 10 11

In [8]:
print(*range(15))

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [9]:
print(*range(0,20,2))

0 2 4 6 8 10 12 14 16 18

In [10]:
print(*range(20,0,-1)) #Reverse the numbers with -1

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

## In Operator

In [40]:
"a" in "hello" # a is not in hello

False

In [41]:
"i" in "time"

True

In [42]:
4 in [1,2,3,4]

True

In [44]:
3 in range(5)

True

In [46]:
4 in (1,2,3)

False

## For Loop

In [12]:
incomes = [2000,4000,7000,5000]
print(incomes)

[2000, 4000, 7000, 5000]

In [13]:
incomes[1]

4000

In [15]:
len(incomes)

4

In [16]:
for i in incomes: # i is a temporary value
    print(i) # It prints every element in incomes

2000
4000
7000
5000

In [17]:
names = ["Josh","Katy","Hurry"]
print(names)

['Josh', 'Katy', 'Hurry']

In [18]:
len(names)

3

In [19]:
for name in names:
    print(name)

Josh
Katy
Hurry

In [21]:
for name in range(len(names)):
    print(names[name])

Josh
Katy
Hurry

In [32]:
grades = [50,70,90,45]

In [33]:
total = 0

for i in range(len(grades)):
    total = total+grades[i] #or total+=grades[i]

In [34]:
total

255

In [35]:
avg = total / len(grades)
print("Average is", avg)

Average is 63.75

In [36]:
grades

[50, 70, 90, 45]

In [37]:
for i in range(len(grades)):
    grades[i]-=5

In [38]:
grades

[45, 65, 85, 40]

In [48]:
new_list = [1,2,3,4,5,6,7,8,9] # Print all even elements

for element in new_list:
    if element % 2 == 0:
        print(element)

2
4
6
8

In [49]:
for sayı in range(1,20): # for and range
    print("* " * sayı)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *

## Iterating in Strings

In [50]:
py = "Python"

In [51]:
for i in py:
    print(i)

P
y
t
h
o
n

In [52]:
for ch in py:
    print(ch*3)

PPP
yyy
ttt
hhh
ooo
nnn

## Iterating in two(2) dimensional Lists

In [55]:
new_list = [[1,2],[3,4],[5,6],[7,8]]
new_list

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [56]:
for e in new_list:
    print(e)

[1, 2]
[3, 4]
[5, 6]
[7, 8]

## Continue

In [57]:
new_list = [1,2,3,4,5,6,7,8,9] # continue will pass 3 and 5.


for i in new_list:
    if (i == 3 or i == 5):
        continue
    print("i:",i)

i: 1
i: 2
i: 4
i: 6
i: 7
i: 8
i: 9

In [58]:
incomes = [7000,8000,5000,9000] 
incomes

[7000, 8000, 5000, 9000]

In [59]:
# We want to make a salary increase if income is lower than 8000

for i in range(len(incomes)):
    if incomes[i]>=8000:
        continue
    else:
        incomes[i]+=1000

In [60]:
incomes

[8000, 8000, 6000, 9000]

## Break

In [64]:
num = [1,4,6,21,4,100,35,2,1,2,43,2,2]
num

[1, 4, 6, 21, 4, 100, 35, 2, 1, 2, 43, 2, 2]

In [65]:
for i in num: # Break when found 100
    print(i)
    if i==100:
        print("Highest Number!")
        break

1
4
6
21
4
100
Highest Number!

In [66]:
incomes = [7000,8000,5000,9000] 
incomes

[7000, 8000, 5000, 9000]

In [67]:
incomes.sort()
incomes

[5000, 7000, 8000, 9000]

In [70]:
for i in range(len(incomes)):
    print(incomes[i])
    if incomes[i]>=8000:
        print("8000 is border!")
        break

5000
7000
8000
8000 is border!

## zip()

In [71]:
jobs = ["ML Engineer","Data Scientist","Researcher","Deep Learning Specialist"]

In [72]:
incomes = [7000,11000,6000,9000]

In [74]:
zipped = zip(jobs,incomes)

In [75]:
list(zipped)

[('ML Engineer', 7000),
 ('Data Scientist', 11000),
 ('Researcher', 6000),
 ('Deep Learning Specialist', 9000)]

In [77]:
for j,i in zip(jobs,incomes):
    print(j,i)

ML Engineer 7000
Data Scientist 11000
Researcher 6000
Deep Learning Specialist 9000

## Iteration in a Dictionary

In [78]:
dic = {"Apartment1": {"persons": ["Josh","Katy"]},"Apartment2": {"persons": ["Mike","Hate"]}, 
       "Apartment3": {"persons": ["Michael","Jone"]}}

In [79]:
dic

{'Apartment1': {'persons': ['Josh', 'Katy']},
 'Apartment2': {'persons': ['Mike', 'Hate']},
 'Apartment3': {'persons': ['Michael', 'Jone']}}

In [81]:
for i in dic:
    print(i) # It just prints keys

Apartment1
Apartment2
Apartment3

In [82]:
for i in dic:
    j = dic[i]
    print(i,j)

Apartment1 {'persons': ['Josh', 'Katy']}
Apartment2 {'persons': ['Mike', 'Hate']}
Apartment3 {'persons': ['Michael', 'Jone']}

In [90]:
for i,j in dic.items():
    print(i,j)

Apartment1 {'persons': ['Josh', 'Katy']}
Apartment2 {'persons': ['Mike', 'Hate']}
Apartment3 {'persons': ['Michael', 'Jone']}

In [85]:
list(dic.values())

[{'persons': ['Josh', 'Katy']},
 {'persons': ['Mike', 'Hate']},
 {'persons': ['Michael', 'Jone']}]

In [86]:
list(dic.keys())

['Apartment1', 'Apartment2', 'Apartment3']

In [88]:
# assigning multiple variables at the same time
x, y = (5,6)

In [89]:
print(x,y)

5 6

## Iterating pair values

In [92]:
names = ["Josh","Kate","Hurry","Bradson"]
ages = [32,23,56,35]

In [95]:
for n,a in zip(names,ages):
    print("Name: {0} - Age: {1}".format(n,a))

Name: Josh - Age: 32
Name: Kate - Age: 23
Name: Hurry - Age: 56
Name: Bradson - Age: 35

## While Loop

In [96]:
i = 0 

while (i < 10):
    print("Value of i: ",i)
    i += 1

Value of i:  0
Value of i:  1
Value of i:  2
Value of i:  3
Value of i:  4
Value of i:  5
Value of i:  6
Value of i:  7
Value of i:  8
Value of i:  9

In [99]:
num = 0

while num < 10:
    num += 1
    if num % 2 == 0:
        
        continue
    
    print("Odd number is ",num)

Odd number is  1
Odd number is  3
Odd number is  5
Odd number is  7
Odd number is  9

## While True

In [105]:
while True:
    num = int(input("Give me a number: "))
    if num == 0:
        continue
    else:
        if num % 3 ==0:
            print("Can divide to 3")
            break
        else:
            print("Can not divide to 3")

Give me a number: 98
Can not divide to 3
Give me a number: 9
Can divide to 3